@using Newtonsoft.Json.Linq

@if (Data != null)
{
    <div class="detailCardContainer">
        <JsonViewer Data="@Data"></JsonViewer>
    </div>
}

@code {
    [Parameter]
    private JToken Data { get; set; }
}